%body
  //%header グループを作成しました 
  .wrapper
    .chat-side
      = render partial: "shared/side_bar"
    .chat-main
      .main-header
        .current-group
          %h2.current-group__name sample message
          %ul.member-list
            Member:
            %li.member-list__member test user
        .main-header__edit-btn Edit
      .messages
        .message
          .upper-info
            %p.upper-info__user Test user
            %p.upper-info__date 2019/05/25(sat) 15:00:00
          %p.message__text testing.
        .message
          .upper-info

      .form
        .new-message
          = form_for [@group, @message] do |f|
            .input-box
              .input-box__text
                = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
            .image-label
              = f.label :image, class: 'image-label__input' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'new-message__submit-btn'